<footer class="container-fluid bg-4 text-center">
  <p>by
    <a href="https://www.linkedin.com/in/msyleung/">Meo Leung</a> ||
    <a href="https://github.com/msyleung">msyleung.github.com</a> ||
    <a href="https://twitter.com/msyleung">@msyleung</a>
  </p>
  <!-- Bootstrap Theme Made By www.w3schools.com with heavy modifications by me :D -->
</footer>
