<!--- turn day.date into a variable? --->
<%= erb :'partials/_pagination', locals: { current_day: day.date } %>

<div class="row">
  <div class="col-sm-3 col-md-6">
    <h3 class="margin" >
      <% word_date = '%A, %B %d, %Y' %>
      <%= day.date.strftime('%A, %B %d, %Y') %>
    </h3>
    <%= erb :'partials/_water', locals: { plants: plants } %>
  </div>
  <div class="col-sm-9 col-md-6">
  <%= erb :'partials/_calendar', locals: { day: day.date } %>
  </div>
</div>
