<!--- pagination, include locals: current_day --->
<%= erb :'partials/_pagination', locals: { current_day: day.date } %>

<h3 class="margin" >
  <% word_date = '%A, %B %d, %Y' %>
  <%= day.date.strftime('%A, %B %d, %Y') %>
</h3>
<% if plants.empty? %>
  Nothing to water!
<% else %>
  Please water the following
  <% if plants.size > 1 %>
    <%= plants.size %> plants
  <% end %>: <br>
  <center>
  <% plants.sort.each do |plant| %>
    <%= plant.name %><br>
  <% end %>
  </center>
<% end %>
