<div class="container-fluid text-left margin" >
  <img src="https://http.cat/400"><br>
  <h3 class="margin">Error</h3>
  i wrote this haiku for you:<br>
  <center>
  plants don't need water<br>
  on this invalid date so<br>
  this is why we can't have nice things
  </center>
</div>
