<% if @today_plants %>
  <%= erb :'partials/_page', locals: { day: @today, plants: @today_plants } %>

  <p>
  <p align="center">
    <%= greeting() %>
    There
    <% if @today_plants.size > 1%>
      are <%= @today_plants.size %> plants that need
    <% elsif @today_plants.size == 1 %>
      is 1 plant that needs
    <% else %>
      are no plants that need
    <% end %>
    attention today!</p>
<% end %>
