<html>
<%= erb :'partials/_header' %>

<body>
<!-- Nav Bar -->
<%= erb :'partials/_nav' %>
<div class="container-fluid text-center">
  <%= yield %>
</div>

<%= erb :'partials/_footer' %>
</body>
</html>
